.dropdown {
  /* border: 1px solid green; */
  
}

.button {
  
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #F7F6F9;
  width: 264px;
  height: 68px;
  padding: 17px 9px 17px 23px;
}

.primary {
}

.button__container {
  display: flex;
  background-color: #f7f6f9;
}

.button__text {
  color: var(--colors-interface-gray-dark);
  margin: 0 17px 0 8px;
  padding: 0;
  width: 166px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.button__text_active {
  color: var(--colors-interface-blue);
}