.navbar {
  /* border: 1px solid red; */
  /* display: flex; */

  width: 264px;
  
}

.navbar__container {
  /* border: 1px solid green; */
  display: grid;
  gap: 10px;
}

.navbar__menu {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 10px;
}